
<%= @recipes.name %>
<%= @recipes.complexity %>
<%= @recipes.genre %>


<% @recipes.ingredients.map do |ingredient| %>
  <%= ingredient.name %>
<% end %>

<% @recipes.ingredients.map do |ingredient| %>
  <p>Total Cost: <%= ingredient.cost %> </p>
<% end %>

 
