Name: <%= @recipe.name %><br>
Complexity: <%= @recipe.complexity %><br>
Genre: <%= @recipe.genre%><br>
Cost of Ingredients: $<%= @recipe.ingredient_cost %>

<p>
Required Ingredients:
    <% @recipe.ingredients.each do |ingredient| %>
        *<%= ingredient.name %>
    <% end %>
</p>

Add New Ingredient:
<%= form_with url: "/recipes/#{@recipe.id}", method: :get, local: true do |f| %>
  <%= f.label 'Ingredient id:' %>
  <%= f.text_field :ingredient_id %>
  <%= f.submit 'Add Ingredient'%>
<% end %>
