<h1><%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<h3>Ingredients for <%= @recipe.name %>:</h3>
<% @recipe.ingredients.map do |ing| %>
  <p><%= ing.name %></p>
<% end %>

<p>Total Cost: <%= @recipe.total_cost %></p>

<%= form_with url: "/recipes/#{@recipe.id}", method: :get, local: true do |form| %>
  <%= label_tag(:new_ing, "Ingredient ID:") %>
  <%= text_field_tag :new_ing, params[:new_ing] %>
  <%= form.submit("Add") %>
<% end %>