<h1>Recipes Show Page</h1>

<p>Name: <%= @recipe.name %></p>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<h3>List of Ingredients</h3>
<% @recipe.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<%= form_with url: "/recipe_ingredients/add_ingredient", method: :post, local: true do |form| %>
<%= form.label :name, 'Add Ingredient to This Recipe' %>
<%= form.text_field :name %><br>
<%= hidden_field_tag :recipe_id, @recipe.id %>
<%= form.submit 'Add Ingredient' %>
<% end %>

<h3>Total Cost: <%= @recipe.total_cost %></h3>

