Name: <%= @recipe.name %><br>
Complexity: <%= @recipe.complexity %><br>
Genre: <%= @recipe.genre%><br>
Cost of Ingredients: $<%= @recipe.ingredient_cost %>

<p>
Required Ingredients:
    <% @recipe.ingredients.each do |ingredient| %>
        *<%= ingredient.name %>
    <% end %>
</p>
