<h1>Recipe: <%= @recipe.name %></h1>

<p>Recipe Name: <%= @recipe.name %></p>
<p>Recipe Complexity: <%= @recipe.complexity %></p>
<p>Food Genre: <%= @recipe.genre %></p>
<p>Ingredients: 
<% @ingredients.flatten.each do |ingredient| %>
  <%= ingredient.name %>
<% end %>,</p>
<p>Ingredients Total Cost: <%= @ingredients_cost %></p>