<h1><%= "Recipe: #{@recipe.name}" %></h1>
<%= "Total Cost: #{@recipe.total_cost}" %><br>
<%= "Complexity: #{@recipe.complexity}" %><br>
<%= "Genre: #{@recipe.genre}" %><br><br>
<%= "Ingredients:" %><br>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %><br>
<% end %><br>

<%= form_with url: "/recipes/#{@recipe.id}", method: :post do |form| %> 
  <%= form.label :add_ingredient, "Add Valid Ingredient ID" %><br>
  <%= form.text_field :add_ingredient %>
  <%= form.submit "Submit" %>
<% end %> 
