<h1> <%= @recipe.name %> </h1>
<p> Complexity: <%= @recipe.complexity %></p>
<p> Genre: <%= @recipe.genre %></p>
<p> Ingredients: </p>
<% @recipe.ingredients.each do |ingredient|%>
<p> <%=ingredient.name%></p>
<p> Total Cost: <%=@recipe.ingredients_total%></p>

<% end %>